@inherits LayoutComponentBase
@inject NavigationManager navManager

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<PageTitle>WaterTime</PageTitle>

<MudLayout Class="min-vh-100" Style="background-color:#e9e9e9">
    <div>
        @Body
    </div>
</MudLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {

    private bool mostrarLogin = true;

    protected override async Task OnInitializedAsync()
    {
        mostrarLogin = !navManager.Uri.Contains("/login");
        await base.OnInitializedAsync();
    }
}